:root {
  --clr-gray-400: hsl(0, 0%, 16%);
  --clr-gray-300: hsl(0, 0%, 24%);
  --clr-gray-200: hsl(0, 0%, 48%);
  --clr-gray-100: hsl(0, 0%, 72%);
  --clr-bg: hsl(0, 0%, 98%);
  --clr-bg-hover: hsl(0, 0%, 96%);
  --clr-surface: hsl(240, 8%, 95%);
  --clr-surface-hover: hsl(0, 0%, 86%);

  --default-gap: 2rem;
  --wrapper-padding: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  --icon-container-height: 32px;
  --icon-container-width: 32px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
