.product__add-form {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--clr-bg);
  color: var(--clr-gray-200);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 500px;
  z-index: 999;
}

.product__add-form.show {
  opacity: 1;
  visibility: visible;
}

.add__form-title {
  color: var(--clr-gray-400);
}

.image-container {
  display: flex;
  gap: 1rem;
}

.image-container > * {
  --dimension: 120px;

  height: var(--dimension);
  width: var(--dimension);
  border: 1px solid var(--clr-gray-100);
}

.row-group {
  display: flex;
  gap: 1rem;
}

.flex-1 > * {
  flex: 1;
}

.field-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.file-chooser {
  display: flex;
  gap: 1rem;
}

.file-chooser label {
  border: 1px solid var(--clr-gray-100);
  border-radius: 1rem;
  padding-block: 0.45rem;
  padding-inline: 0.75rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.85rem;
}

.file-chooser input[type='file'] {
  display: none;
}

.field-group label {
  font-size: 0.9rem;
}

.field-group select,
.field-group input {
  font-family: inherit;
  border: 1px solid var(--clr-gray-100);
  border-radius: 0.5rem;
  padding-inline: 0.35rem;
  color: var(--clr-gray-200);
  font-size: 0.9rem;
  background-color: transparent;
}

.field-group select:focus,
.field-group input:focus {
  outline: none;
}

.field-group select {
  padding-block: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.field-group input {
  padding-block: 0.5rem;
  /* height: 200px; */
}

.add__button-group {
  align-self: flex-end;
  display: inline-flex;
}

.add__cancel {
  font-size: 0.85rem;
}

.add__submit {
  border-radius: 1rem;
  font-size: 0.9rem;
}
