.product__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.product__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  background-color: var(--clr-surface);
  border-radius: 1rem;
  padding: 1rem;
}

.product__favorite-button {
  display: inline-flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 30;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product__card:hover .product__favorite-button {
  opacity: 1;
}

/* ilislan */
.product__favorite-button::after {
  content: attr(data-tooltip);
  font-size: 0.85rem;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-gray-300);
  color: var(--clr-bg);
  padding: 0.4em 0.8em;
  border-radius: 0.5rem;
  text-wrap: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product__favorite-button:hover::after {
  opacity: 0.8;
}

.product__favorite-button.active .product__favorite-icon--checked {
  display: inline-flex;
}

.product__favorite-button.active .product__favorite-icon--unchecked {
  display: none;
}

.product__favorite-icon {
  display: inline-flex;
  color: var(--clr-gray-200);
}

.product__favorite-icon--checked {
  display: none;
}

.product__favorite-icon > svg {
  width: 26px;
  height: 26px;
}

.product__image {
  mix-blend-mode: multiply;
}

.product__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-inline: 0.5rem;
}

.product__text-wrapper > * {
  display: flex;
  align-items: center;
}

.product__brand,
.product__favorite-brand {
  font-weight: 300;
  text-transform: uppercase;
  color: var(--clr-gray-200);
}

.product__name,
.product__favorite-name {
  font-weight: 500;
  color: var(--clr-gray-300);
}

.product__price,
.product__favorite-price {
  font-weight: 500;
  color: var(--clr-gray-400);
}

.product__brand {
  font-size: 0.7rem;
}

.product__name {
  font-size: 0.92rem;
}

.product__price {
  font-size: 0.95rem;
}

.product__favorite-card {
  position: relative;
  display: flex;
  border: 1px solid var(--clr-gray-100);
  border-radius: 0.45rem;
  padding: 1rem;
  width: 100%;
}

.product__favorite-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.product__favorite-close svg {
  color: var(--clr-gray-200);
  transition: color 0.3s ease;
}

.product__favorite-close:hover svg {
  color: var(--clr-gray-300);
}

.product__favorite-card > .product__image-container {
  width: 12rem;
  aspect-ratio: auto;
  background-color: transparent;
}

.product__favorite-text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.product__favorite-brand {
  font-size: 0.75rem;
}

.product__favorite-name {
  font-size: 0.95rem;
}

.product__favorite-price {
  font-size: 1rem;
  width: fit-content;
  height: fit-content;
  align-self: flex-end;
  margin-left: auto;
  padding-block: 0.25rem;
}

.product__favorite-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.25rem;
}

.product__favorite-action {
  font-size: 0.9rem;
  color: var(--clr-gray-200);
  width: fit-content;
}
