.product {
  position: relative;
  min-height: calc(100vh - 6rem);
  width: 100%;
  margin-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  gap: 4%;
}

.product > * {
  padding-top: 8rem;
}

.product__images {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.product__images > * {
  background-color: transparent;
  aspect-ratio: auto;
}

.product__info {
  flex: 4;
  color: var(--clr-gray-300);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product__info-header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.product__info-header-text {
  display: flex;
  flex-direction: column;
}

.product__info-header-text > * {
  line-height: 1.5;
}

.product__info-brand {
  color: var(--clr-gray-200);
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  font-weight: 300;
}

.product__info-name {
  font-size: clamp(1.125rem, 0.9489rem + 0.7512vw, 1.625rem);
}

.product__info-subtext {
  color: var(--clr-gray-200);
  padding-top: 4px;
  padding-left: 2px;
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}

.product__info-favorite {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  height: fit-content;
  z-index: 5;
}

.product__info-favorite svg {
  --size: clamp(1.375rem, 1.243rem + 0.5634vw, 1.75rem);
  width: var(--size);
  height: var(--size);
}

.product__info-price {
  display: block;
  font-size: clamp(1.25rem, 1.0739rem + 0.7512vw, 1.75rem);
  font-weight: 500;
  padding-block: 1rem;
}

.product__info-ratings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product__info-stars-wrapper {
  display: inline-flex;
}

.product__info-rating {
  width: 24px;
  height: 24px;
}

.product__info-rating svg {
  width: 100%;
  height: 100%;
}

.product__info-reviews-count {
  font-size: 0.85rem;
  line-height: 1;
  color: var(--clr-gray-200);
}

.product__add-button {
  margin-top: 2rem;
  display: inline-flex;
  justify-content: center;
  padding-block: 1rem;
  font-size: 0.92rem;
  font-weight: 500;
  border-radius: 0.75rem;
}

.product__info-reservation-count {
  color: var(--clr-gray-200);
  font-size: 0.9rem;
  margin-top: 0.75rem;
}

.product__info-others {
  margin-top: 2rem;
}

.product__info-others-item {
  display: flex;
  flex-direction: column;
  padding-block: 1.5rem;
  border-top: 1px solid var(--clr-gray-100);
}

.product__info-other-title,
.product__info-sizes,
.product__info-reviews {
  color: var(--clr-gray-200);
}

.product__info-sizes-title {
  font-size: 0.9rem;
}

.product__info-sizes {
  display: list-item;
  list-style-type: disc;
  color: var(--clr-gray-200);
  font-size: 0.85rem;
  padding-block: 0.75rem;
  margin-left: 2rem;
}

.product__info-others-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.product__info-other-button {
  color: var(--clr-gray-200);
}

.product__info-other-button:hover {
  color: var(--clr-gray-300);
}

.product__info-reviews {
  display: flex;
  gap: 1rem;
  padding-block: 0.75rem;
  align-items: stretch;
}

.product__info-reviews > * {
  flex: 1;
}

.product__review-card,
.product__review-card-header,
.product__review-card-body {
  display: flex;
  flex-direction: column;
}

.product__review-card {
  display: grid;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1.5rem 0.75rem;
  background-color: var(--clr-surface);
  min-height: 150px;
}

.product__review-card-header {
  gap: 0.5rem;
}

.product__review-card-text {
  display: flex;
  justify-content: space-between;
}

.product__review-card-name {
  font-weight: 500;
  font-size: 0.92rem;
}

.product__review-card-date {
  font-size: 0.85rem;
  color: var(--clr-gray-200);
}

.product__review-card-stars {
  display: inline-flex;
}

.product__review-rating {
  width: 18px;
  height: 18px;
  color: var(--clr-gray-200);
  background-color: transparent;
}

.product__review-card-text {
  color: var(--clr-gray-200);
  font-size: 0.9rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.section__header-text {
  color: var(--clr-gray-300);
  font-size: 1.45rem;
  padding-block: 1rem;
}

.products__showcase {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .product {
    flex-direction: column;
    padding-bottom: 0;
  }

  .product__images {
    padding-block: 2rem;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .product__images > * {
    scroll-snap-align: start;
    flex: 0 0 100%;
    background-color: transparent;
    aspect-ratio: auto;
  }

  .product__info {
    padding-block: 0.5rem;
  }
}
